@import "../../vars.css";

.container {
    color: var(--color-text);
    margin-top: 79px;
    margin-left: 10%;
    margin-right: 10%;
}

.title {
    color: var(--color-text);
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1.75px;
    text-transform: uppercase;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: space-evenly;
  margin-top: 14px;
}

.skills {
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    gap: 37px;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 11px;
}

.skillImageContainer {
    background-color: var(--color-secondary);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;
}

.skillImageContainer img {
    width: 75px;
}

.skill p {
    font-size: 25px;
    font-family: var(--font-roboto);
    font-weight: 500;
}

.history {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: center;
    margin-top: 14px;
}

.historyItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 17px;
    background-color: #19376d;
    background: linear-gradient(90deg, #19376d 0%, rgba(25, 55, 109, 0) 100%);
    border-radius: 10px;
    padding: 24px;
    width: 100%;
    max-width: 600px;
    position: relative;
}

/* Odd items (1st, 3rd, etc.) - align to the right */
.historyItem:nth-child(odd) {
    align-self: flex-end;
    margin-right: 10%;
    margin-left: auto;
}

/* Even items (2nd, 4th, etc.) - align to the left and reverse layout */
.historyItem:nth-child(even) {
    align-self: flex-start;
    margin-left: 10%;
    margin-right: auto;
    flex-direction: row-reverse;
    background: linear-gradient(270deg, #19376d 0%, rgba(25, 55, 109, 0) 100%);
}

.historyItem img {
    width: 50px;
    border-radius: 20%;
}

.historyItemDetails {
    font-family: var(--font-roboto);
}

.historyItemDetails h3 {
    font-size: 22px;
    font-weight: 500;
}

.historyItemDetails p {
    font-size: 14px;
    font-weight: 300;
}

.historyItemDetails ul {
    margin-top: 6px;
    list-style-position: inside;
    font-size: 25px;
    list-style-type: disc;
    margin-left: 17px;
}

@media screen and (max-width: 830px) {
    .history {
        gap: 40px;
    }

    .historyItem {
        max-width: 90%;
    }

    /* Keep alternating layout on mobile but reduce spacing */
    .historyItem:nth-child(odd) {
        margin-right: 15%;
    }

    .historyItem:nth-child(even) {
        margin-left: 15%;
    }
}